#newPostCollapsed {
    overflow: hidden;
    border: 2px solid rgb(212, 175, 55);
    background-color:  rgb(253, 252, 250);
    width: 596px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;


}

#collapsedPrompt {
    padding-left: 50px;
}

.expandButton{
    float: right;
    margin-top: 2px;
    margin-right: 50px;
    cursor: pointer;
}

.collapseButton{
    position: absolute;
    margin: 5px;
    float:right;
    right: 35px;
    top: 15px;
}

#newPost{
    overflow: hidden;
    text-align: center;
    width: 596px;
    min-height: 270px;
    border: 2px solid rgb(212, 175, 55);
    position: relative;
    border-radius: 10px;
    background-color:  rgb(253, 252, 250);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#newpost--hover {
    width: 596px;
    height: 50px;
}

#image {
    float: left;
    top: auto;
    width: 250px;
    margin-left: 50px;

}

#postText {
    position: relative;
    margin-left: 50px;
    width: 500px;
    display: block;
    float: left;

}

#chooseFile {
    margin-top: 10px;
    width: 250px;
    position: relative;
    flex: 1
}

#UpLoad {
    margin-top: 5px;
    width: 100px;
    left: -75px;
    position:relative;
    flex: 1;
}

#postRestaurant {
    margin-top: 110px;
    left: 50px;
    width: 250px;
    position: absolute;
}

.postButton {
    position: relative;
    top: 75px;
    height: 30px;
    right: -85px;
}
